<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" nz-form [formGroup]="signinForm" (ngSubmit)="submitForm()">
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <div class="text-center">
                    <img class="logo_custom" src="assets/images/logo.png" alt="logo.png" />
                  </div>
                </div>
              </div>
              <hr />
              <div class="input-group">
                <input type="text" class="form-control" name="username" placeholder="Tài khoản"
                  formControlName="userName" maxlength="50" />
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Mật khẩu" name="password"
                  formControlName="passWord" maxlength="255" />
                <span class="md-line"></span>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    Đăng nhập
                  </button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">
                    Cảm ơn bạn và tận hưởng trang web của chúng tôi.
                  </p>
                  <p class="text-inverse text-left">
                    <b>Nhóm xác thực của bạn</b>
                  </p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png" />
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
<div class="custom-snip" *ngIf="isLoading">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>