<form nz-form [formGroup]="modalForm" (ngSubmit)="submitForm()">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Tỉnh thành</label>
    <div class="col-sm-9">
      <nz-select nzPlaceHolder="Chọn tỉnh thành" class="form-control form-control-round" formControlName="provinceId">
        <ng-container *ngFor="let item of listProvinces">
          <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
        </ng-container>
      </nz-select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Tên khách sạn<span class="required-custom">(*)</span></label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-round" placeholder="Tên khách sạn" formControlName="name"
        maxlength="50" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Địa chỉ<span class="required-custom">(*)</span></label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-round" placeholder="Địa chỉ" formControlName="address"
        maxlength="255" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Ảnh đại diện</label>
    <div class="col-sm-9">
      <img [src]="imageSrc" class="img-custom" />
      <input id="file" type="file" class="form-control form-control-round" (change)="onFileChange($event)" #myFile
        accept=".png, .jpg, .jpeg" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Chất lượng</label>
    <div class="col-sm-9">
      <nz-radio-group formControlName="star">
        <label nz-radio nzValue="1">
          <i class="ti-star"></i>
        </label>
        <br />
        <label nz-radio nzValue="2">
          <i class="ti-star"></i>
          <i class="ti-star"></i>
        </label>
        <br />
        <label nz-radio nzValue="3">
          <i class="ti-star"></i>
          <i class="ti-star"></i>
          <i class="ti-star"></i>
        </label>
        <br />
        <label nz-radio nzValue="4">
          <i class="ti-star"></i>
          <i class="ti-star"></i>
          <i class="ti-star"></i>
          <i class="ti-star"></i>
        </label>
        <br />
        <label nz-radio nzValue="5">
          <i class="ti-star"></i>
          <i class="ti-star"></i>
          <i class="ti-star"></i>
          <i class="ti-star"></i>
          <i class="ti-star"></i>
        </label>
      </nz-radio-group>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Tiêu đề</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-round" placeholder="Tiêu đề" formControlName="title"
        maxlength="150" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Giới thiệu</label>
    <div class="col-sm-9">
      <ckeditor formControlName="introduce" id="introduce" name="introduce"> </ckeditor>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Ghi chú</label>
    <div class="col-sm-9">
      <input type="text" class="form-control form-control-round" placeholder="Ghi chú" formControlName="note"
        maxlength="500" />
    </div>
  </div>
  <div *ngIf="isShowInfo">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Người tạo</label>
      <div class="col-sm-9">
        <input type="text" class="form-control form-control-round" formControlName="createdBy" maxlength="50"
          readonly />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Ngày tạo</label>
      <div class="col-sm-9">
        <nz-date-picker [nzFormat]="dateFormat" formControlName="createdDate" class="form-control form-control-round"
          nzPlaceHolder=" " nzDisabled></nz-date-picker>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Người cập nhật</label>
      <div class="col-sm-9">
        <input type="text" class="form-control form-control-round" formControlName="modifiedBy" maxlength="50"
          readonly />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Ngày cập nhật</label>
      <div class="col-sm-9">
        <nz-date-picker [nzFormat]="dateFormat" formControlName="modifiedDate" class="form-control form-control-round"
          nzPlaceHolder=" " nzDisabled></nz-date-picker>
      </div>
    </div>
  </div>
  <div class="t-a-r">
    <button type="button" class="btn btn-danger btn-round m-r-5" (click)="cancelModal(false)">
      <i class="ti-na"></i>Thoát
    </button>
    <button class="btn btn-primary btn-round">
      <i class="ti-save"></i>Lưu
    </button>
  </div>
</form>
<div class="custom-snip" *ngIf="isLoading">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>