.error-code {
    font-size: 160px;
}

.error-message {
    font-size: 27px;
    color: #333;
    font-weight: bold;
    margin-top: -40px;
}

.five-zero-zero-container {
    text-align: center;
    margin: 10% auto;
}