<div class="page-wrapper">
  <!-- Page body start -->
  <div class="page-body">
    <div class="row">
      <div class="col-sm-12">
        <!-- Basic Form Inputs card start -->
        <div class="card">
          <div class="card-header">
            <h5>Danh sách vị trí</h5>
            <span>
              <ul class="breadcrumb-title b-t-default p-t-10">
                <li class="breadcrumb-item">
                  <a (click)="goToDashborad()"> <i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item">Vị trí</li>
              </ul></span
            >
          </div>
          <div class="card-block">
            <form
              nz-form
              [formGroup]="searchForm"
              (ngSubmit)="search(searchForm.value)"
            >
              <div class="form-group row">
                <div class="col-sm-4 p-l-0 p-r-0">
                  <label class="col-sm-12 col-form-label">Tên vị trí</label>
                  <div class="col-sm-12">
                    <input
                      type="text"
                      class="form-control form-control-round"
                      placeholder="Nhập tên vị trí"
                      formControlName="textSearch"
                    />
                  </div>
                </div>
                <div class="col-sm-8 p-l-0 p-r-0">
                  <label class="col-sm-12 col-form-label">&nbsp;</label>
                  <div class="col-sm-12 t-a-r">
                    <button
                      type="submit"
                      class="btn btn-primary btn-round m-r-5"
                    >
                      <i class="ti-search"></i>Tìm kiếm
                    </button>
                    <button
                      type="button"
                      class="btn btn-success btn-round m-r-5"
                      (click)="openModal()"
                    >
                      <i class="ti-plus"></i>Thêm mới
                    </button>
                    <button
                      class="btn btn-info btn-round"
                      (click)="resetForm()"
                    >
                      <i class="ti-reload"></i>Làm mới
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="table-responsive">
              <nz-table
                class="table"
                nzTableLayout="fixed"
                nzSize="small"
                [nzScroll]="{ x: 'scroll' }"
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="listData"
                [nzTotal]="total"
                [nzPageSize]="pageSize"
                [nzPageIndex]="pageIndex"
                [nzLoading]="isLoading"
                [nzShowTotal]="totalTemplate"
                (nzQueryParams)="onQueryParamsChange($event)"
              >
                <thead>
                  <tr>
                    <th nzWidth="80px">STT</th>
                    <th nzWidth="150px">Tên vị trí</th>
                    <th nzWidth="120px">Người tạo</th>
                    <th nzWidth="200px">Ngày tạo</th>
                    <th nzWidth="120px">Người cập nhật</th>
                    <th nzWidth="200px">Ngày cập nhật</th>
                    <th class="frozen-right" nzWidth="150px">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData">
                    <td>
                      {{ item.stt }}
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.createdBy }}</td>
                    <td>
                      {{ item.createdDate | date: "dd/MM/yyyy HH:mm:ss" }}
                    </td>
                    <td>{{ item.modifiedBy }}</td>
                    <td>
                      {{ item.modifiedDate | date: "dd/MM/yyyy HH:mm:ss" }}
                    </td>
                    <td class="frozen-right">
                      <button
                        class="btn btn-primary btn-outline-primary btn-icon m-r-5"
                        (click)="openModal(item)"
                        title="Sửa dữ liệu"
                      >
                        <i class="ti-pencil-alt m-r-0"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger btn-outline-danger btn-icon"
                        title="Xóa dữ liệu"
                        nz-popconfirm
                        nzPopconfirmTitle="Bạn có chắc chắn muốn xóa?"
                        nzOkText="Ok"
                        nzCancelText="Hủy"
                        (nzOnConfirm)="confirm(item.id)"
                        (nzOnCancel)="cancel()"
                      >
                        <i class="ti-trash m-r-0"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
              <ng-template #totalTemplate let-range="range" let-total>
                Hiển thị {{ range[0] }}-{{ range[1] }} của {{ total }} bản ghi
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body end -->
</div>
